@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply z-10 overflow-x-auto antialiased;
}

.font-inter {
    font-family: var(--font-inter);
}

.font-roboto {
    font-family: var(--font-roboto);
}

html,
body {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .no-scrollbar::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}
